<div class="row" *ngIf="countries.length > 0; else noCountriesFound">
    <div *ngFor="let country of countries; let index = index" class="col-lg-4 cold-md-6 col-sm-12 mb-4">
        <p-card header="{{country.name.common}}" [style]="{width: '65%'}" (click)="navigateToDetails(index)">
            <ng-template pTemplate="header">
                <img alt="countryFlag" [src]="country.flags.svg" alt="{{ country.name.common }} flag" class="flag" />
            </ng-template>
            <p>
                <strong> Population: </strong> {{country.population | number}}
            </p>
            <p>
                <strong>Region: </strong> {{country.region}}
            </p>
            <p>
                <strong>Capital: </strong> {{country.capital}}
            </p>
        </p-card>
    </div>
</div>

<ng-template #noCountriesFound>
    <p class="fw-bold text-center">
        No Countries Found
    </p>
</ng-template>