.dark-mode-list {
    background-color: #2b3945;
    color: #fff;
  }
  
  .dark-mode-card {
    background-color: #2b3945;
    color: #fff;
  
    p {
      color: #fff;
    }
  
    img {
      border: 1px solid #fff;
    }
  }
  
  .flag {
    width: 100%;
  }
  