<div class="container">
    <div #backButton class="pb-5">
        <p-button label="Back" icon="fa-solid fa-arrow-left" iconPos="left" severity="secondary" [text]="true"
            [raised]="true" [style]="{'width':  '150px'}" [routerLink]="['../../']" />
    </div>
    <div class="row">
        <div class="col-7">
            <p-image src="{{country?.flags?.svg}}" alt="country flag" width="500" />
        </div>
        <div class="col-5">
            <h4 class="fw-bold">{{country?.name?.common}}</h4>
            <div class="row mt-4">
                <div class="col-6">
                    <p>
                        <strong>Native Name:</strong> {{country?.name?.nativeName?.[countryNativeNameKey]?.common}}
                    </p>
                    <p>
                        <strong>Population:</strong> {{country?.population?.toString()}}
                    </p>
                    <p>
                        <strong>Region:</strong> {{country?.region}}
                    </p>
                    <p>
                        <strong>Sub Region:</strong> {{country?.subregion}}
                    </p>
                    <p>
                        <strong>Capital:</strong> {{country?.capital}}
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        <strong>Top Domain:</strong> {{country?.tld?.[0]}}
                    </p>
                    <p>
                        <strong>Currencies:</strong> {{country?.currencies?.[countryCurrencyKey]?.name}}
                    </p>
                    <p *ngIf="country?.languages">
                        <strong>Languages:</strong>
                        <ng-container *ngFor="let key of languageKeys; let isLast = last">
                            {{country?.languages?.[key]}}{{!isLast ? ',' : ''}}
                        </ng-container>
                    </p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="d-flex align-items-center">
                    <span class="fw-bold me-2">Border Countries:</span>
                    <div class="d-flex flex-wrap gap-1" *ngIf="countryBordersNames.length > 0; else notFoundCountries">
                      <span class="border px-3 py-2 rounded" *ngFor="let country of countryBordersNames">
                        {{ country }}
                      </span>
                    </div>
                    <ng-template #notFoundCountries>
                        N/A
                    </ng-template>
                  </div>
            </div>
        </div>
    </div>
</div>